body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f0f8ff;
  color: #333;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.settings {
  margin: 10px;
}

.card {
  perspective: 1000px;
  display: inline-block;
  margin: 20px 10px;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.card-inner {
  position: relative;
  width: 100px;
  height: 150px;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  box-shadow: 0 0 10px rgba(10, 10, 10, 0.5);
  text-align: justify;
}

.card-front {
  background-color: #007bff;
  color: white;
}

.card-back {
  background-color: #fff;
  color: black;
  transform: rotateY(180deg);
  overflow: hidden;
}

.flip {
  transform: rotateY(180deg);
}

.correct {
  background-color: #4caf50;
  color: white;
}

.incorrect {
  background-color: #f44336;
}

.empty {
  background-color: #fff;
}

button {
  padding: 15px 20px;
  font-size: 1.2em;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.hidden {
  display: none;
}

.not-visible {
  visibility: hidden;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-10px);
  }

  50% {
    transform: translateX(10px);
  }

  75% {
    transform: translateX(-10px);
  }

  100% {
    transform: translateX(0);
  }
}

.shake {
  animation: shake 0.5s;
}

#gameMode {
  padding: 10px;
  font-size: 1em;
  border: 2px solid #007bff;
  border-radius: 5px;
  transition: border-color 0.3s, box-shadow 0.3s;
}

#gameMode:focus {
  outline: none;
  border-color: #0056b3;
  box-shadow: 0 0 10px rgba(0, 91, 179, 0.5);
}

#numLength,
#numDigits {
  width: 80px;
  padding: 10px;
  font-size: 1em;
  border: 2px solid #007bff;
  border-radius: 5px;
  text-align: center;
  transition: border-color 0.3s, box-shadow 0.3s;
}

#numLength:focus,
#numDigits:focus {
  outline: none;
  border-color: #0056b3;
  box-shadow: 0 0 10px rgba(0, 91, 179, 0.5);
}

.win-message {
  font-size: 1.5em;
  color: #4caf50;
  margin-top: 20px;
}

.high-score-message {
  font-size: 1.5em;
  color: #ff5722;
  margin-top: 20px;
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

#progressContainer {
  width: 100%;
  background-color: #ddd;
  margin: 20px auto;
  height: 20px;
  border-radius: 5px;
  max-width: 500px;
  position: relative;
  z-index: -2;
  margin-top: 60px;
}

#progressBar {
  height: 100%;
  width: 0;
  background-color: #4caf50;
  transition: width 0.05s;
  position: absolute;
  border-radius: 5px;
}

#highScoreBar {
  height: 100%;
  width: 0;
  background-color: aqua;
  transition: width 0.05s;
  position: absolute;
  border-radius: 5px;
  z-index: -1;
}

.tooltip {
  width: 100px;
  position: absolute;
  top: -50px;
  /* Adjust as needed to position above the parent */
  right: -60px;
  /* Adjust as needed to position right */
  background-color: rgba(0, 0, 0, 0.8);
  /* Dark background */
  color: #fff;
  padding: 10px;
  border-radius: 8px;
  white-space: nowrap;
  /* Prevent text wrapping */
  font-size: 0.7em;
  z-index: 10;
}



/* Tooltip Arrow */
.tooltip::after {
  content: '';
  position: absolute;
  bottom: -20px;
  /* Position the arrow right below the tooltip */
  right: 50px;
  border-width: 10px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.8) transparent transparent transparent;
  /* Arrow pointing down */
}

.tooltip-hs {
  width: 120px;
  position: absolute;
  top: -50px;
  /* Adjust as needed to position above the parent */
  right: -60px;
  /* Adjust as needed to position right */
  background-color: rgba(11, 138, 41);
  /* Dark background */
  color: #fff;
  padding: 10px;
  border-radius: 8px;
  white-space: nowrap;
  /* Prevent text wrapping */
  font-size: 0.7em;
  z-index: 11;
}

.tooltip-hs::after {
  content: '';
  position: absolute;
  bottom: -20px;
  /* Position the arrow right below the tooltip */
  right: 50px;
  border-width: 10px;
  border-style: solid;
  border-color: rgba(11, 138, 41) transparent transparent transparent;
  /* Arrow pointing down */
}

.fail-message {
  font-size: 1.5em;
  color: #f44336;
  margin-top: 20px;
}

@keyframes blinking {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}